# Train.csv

In [74]:
import pandas as pd
import datetime as dt

In [15]:
df_train = pd.read_csv("../wns-wizard-av/Train/train.csv")

df_train.head()

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click
0,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0
1,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1
2,70efdf2ec9b086079795c442636b55fb,2018-11-15 00:02:00,71748,259,intermediate,1,0
3,8e296a067a37563370ded05f5a3bf3ec,2018-11-15 00:02:00,69209,244,latest,1,0
4,182be0c5cdcd5072bb1864cdee4d3d6e,2018-11-15 00:02:00,62873,473,latest,0,0

## Understanding Data

In [16]:
df_train.shape

(237609, 7)

In [17]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237609 entries, 0 to 237608
Data columns (total 7 columns):
impression_id      237609 non-null object
impression_time    237609 non-null object
user_id            237609 non-null int64
app_code           237609 non-null int64
os_version         237609 non-null object
is_4G              237609 non-null int64
is_click           237609 non-null int64
dtypes: int64(4), object(3)
memory usage: 12.7+ MB

In [18]:
# Convert impression_time become date format
df_train['impression_time'] = pd.to_datetime(df_train["impression_time"], format = "%Y-%m-%d %H:%M:%S")
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237609 entries, 0 to 237608
Data columns (total 7 columns):
impression_id      237609 non-null object
impression_time    237609 non-null datetime64[ns]
user_id            237609 non-null int64
app_code           237609 non-null int64
os_version         237609 non-null object
is_4G              237609 non-null int64
is_click           237609 non-null int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 12.7+ MB

### Information
* There is no error in assigning data type to dataset train.csv

In [21]:
df_train['impression_id'].describe()

count                               237609
unique                              237609
top       d67456b240769b4c16d711215220de5d
freq                                     1
Name: impression_id, dtype: object

In [22]:
df_train['impression_time'].describe()

count                  237609
unique                  36461
top       2018-12-04 00:01:00
freq                       46
first     2018-11-15 00:00:00
last      2018-12-13 07:43:00
Name: impression_time, dtype: object

In [30]:
# Check out userId at the time where the most userId is exposed
df_train[df_train['impression_time'] == pd.to_datetime("2018-12-04 00:01:00", format = "%Y-%m-%d %H:%M:%S")]['user_id'].value_counts()

22910    1
48465    1
67423    1
28832    1
29538    1
12698    1
69527    1
64342    1
81557    1
70356    1
64210    1
28048    1
85351    1
78543    1
63693    1
8394     1
70706    1
78944    1
27783    1
66374    1
28612    1
53505    1
42859    1
69804    1
7778     1
27748    1
6464     1
46714    1
43759    1
60794    1
22839    1
12086    1
35829    1
12404    1
43306    1
26802    1
40047    1
25838    1
79428    1
15468    1
875      1
71978    1
5289     1
71464    1
21863    1
73728    1
Name: user_id, dtype: int64

### Information 
* Time with the most user expose to the ad is **2018-12-04 00:01:00**
* There is no error in entry point about impression_time for there is no user with same userId at one time
* There is 36461 impression_time that has only one user exposed to the ad

In [84]:
print(df_train['impression_time'].dt.date.describe())
df_train[(df_train['impression_time'].dt.date == dt.datetime(2018,11,27).date()) & (df_train['is_click'] == 1)].describe()

count         237609
unique            29
top       2018-11-27
freq           14243
Name: impression_time, dtype: object

            user_id    app_code       is_4G  is_click
count    591.000000  591.000000  591.000000     591.0
mean   45616.475465  241.991540    0.357022       1.0
std    26920.946453  129.645533    0.479527       0.0
min       98.000000    3.000000    0.000000       1.0
25%    21756.500000  145.000000    0.000000       1.0
50%    45781.000000  231.000000    0.000000       1.0
75%    70058.000000  371.000000    1.000000       1.0
max    92565.000000  512.000000    1.000000       1.0

### Information 
* Date with the most user expose to the ad is **2018-11-27** 14243
* And from 14243 user, there are 591 user that clicked the ad.

In [37]:
df_train[df_train['is_click'] == 1]['impression_time'].describe()

count                   10862
unique                   9069
top       2018-11-27 00:15:00
freq                        5
first     2018-11-15 00:01:00
last      2018-12-13 07:43:00
Name: impression_time, dtype: object

### Information
* There is 10862 user that clicked when exposed to the ad
* There are 5 users that clicked the ad at 2018-11-27 00:15:00, the largest number at this time

In [41]:
df_train[df_train['is_click'] == 1]['impression_time'].dt.date.describe()

count          10862
unique            29
top       2018-12-03
freq             600
Name: impression_time, dtype: object

In [31]:
df_train['user_id'].describe()

count    237609.000000
mean      46454.526828
std       26802.726666
min           0.000000
25%       23197.000000
50%       46597.000000
75%       69684.000000
max       92586.000000
Name: user_id, dtype: float64

In [56]:
pd.to_datetime("2018-11-27", format="%Y-%m-%d")

Timestamp('2018-11-27 00:00:00')